*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1e293b;
  background-color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3 {
  line-height: 1.2;
}
